name: Ruby

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test-old-rubygems:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '2.0'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      # https://github.com/ruby/setup-ruby#versioning
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        rubygems: '2.2.5'
        bundler: '1.17.3'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run tests
      run: bundle exec rake

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '2.1'
        - '2.2'
        - '2.3'
        - '2.4'
        - '2.5'
        - '2.6'
        - '2.7'
        # - '3.0'
        # - '3.1'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      # https://github.com/ruby/setup-ruby#versioning
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run tests
      run: bundle exec rake
